.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.menuPanel {
  width: 50%;
  background: #3f51b5;
}

::ng-deep .content-display {
  height: 77%;
}

.sidePanel-container {
  /* When the sidePanel is not fixed, stretch the sidePanel container to fill the available space. This
       causes `<mat-sidePanel-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}


// Sidebar
.mat-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 65vh;
}


::ng-deep .mat-sidenav {
  .mat-list-item-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-weight: lighter;
    color: white;
    min-height: 100px
  }
}


.icon-button {
  display: flex;
  align-items: center;
  margin-left: -0.5%;
  margin-top: 1%;
  color: white;

  .button-text {
    margin-left: 10px;
  }

  .icon {
    filter: invert(100%);
  }
}

.sidenav {
  height: 95vh;
}
